extends layout

block content
  h1 The Unofficial PBS Podcast Page
  p Click 'generate podcast' to create a podcast for the show of your choice. This may take a few seconds. When it is done, a button will appear to get the podcast.
  div(id='programlist')
