body {
	font-family: Tahoma, Verdana, Arial, Helvetica, 'Bitstream Vera Sans', sans-serif;
}

header {
	background-image: url(http://pbsfm.org.au/themes/pbs/logo.png);
	background-repeat: no-repeat;
	height: 7em;
}

li.program {
	display: inline-block;
	vertical-align: top;
	width: 13em;
	margin: 0.5em;
	background-color: #eee;
	padding: 0.5em;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

li.program a {
	color: #CC2229;
}

li.program div {
	height: 6em;
}

button.btn {
	width: 100%;
	background-image: url("assets/podcast.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding: 8px;
	background-position-x: 2px;
	text-indent: 32px;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

.icon-podcast { 
  background-image: url("assets/podcast.png");
  background-position: center center; 
  height: 32px; 
  width: 32px;
}

div#programlist.loading {
	width: 0em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
}
